.page-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.page-header {
    margin-bottom: 2rem;
}

.page-header h1 {
    margin: 0;
    font-size: 2rem;
}

.page-header p {
    margin-top: .5rem;
    opacity: .7;
}

.users-grid {
    display: grid;

    grid-template-columns:
        repeat(
            auto-fill,
            minmax(350px, 1fr)
        );

    gap: 1rem;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 300px;
}

.spinner {
    width: 50px;
    height: 50px;

    border: 4px solid #e5e7eb;
    border-top: 4px solid #333;

    border-radius: 50%;

    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.state-card {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}